@charset "UTF-8";
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Tipografía */
body {
  font-family: "Poppins", sans-serif;
}

/* Keyflames animacion */
@keyframes floating-card {
  0% {
    transform: translate(0%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(0%, 6%) rotate(8deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(10deg);
  }
}
/* Header (navbar) */
header {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}
@media screen and (min-width: 992px) {
  header .navbar-nav {
    gap: 1.5rem;
  }
}

.runbank-seo {
  display: none;
}

.btn-account {
  color: #F4F5EF;
  border-color: #614AD9;
  background-color: #614AD9;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 992px) {
  .btn-account {
    margin-left: 32px;
  }
  .btn-account:hover {
    color: #614AD9;
    background-color: #F4F5EF;
    border-color: #614AD9;
  }
}

.nav-link {
  color: #000000;
}
@media screen and (min-width: 992px) {
  .nav-link:hover {
    color: #614AD9;
  }
}

.collapse .navbar-collapse {
  justify-content: end;
}

/* QUITAR BORDE DEL ICONO DE NAV */
.navbar-toggler {
  border: 0px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

/* Footer */
.container__footer {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}
.container__footer--runbank {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container__footer--contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container__footer--download {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container__footer--download .footer__download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 576px) {
  .container__footer--download .footer__download {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .container__footer--download .footer__download {
    flex-direction: column;
  }
}
.container__footer--download .footer__download .runbank-download-footer {
  width: 192px;
}
.container__footer .footer__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .container__footer .footer__icon {
    justify-content: center;
  }
}
.container__footer .footer__icon a {
  color: #F4F5EF;
  text-decoration: none;
}
.container__footer .footer__copyright {
  padding-top: 16px;
}
@media screen and (min-width: 992px) {
  .container__footer .footer__copyright {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 992px) {
  .container__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

/* Seccion (descargar App) */
/* Colores fondo */
.background-color-green {
  background-color: #C6F277;
  color: #000000;
}

.background-color-purple {
  background-color: #614AD9;
  color: #F4F5EF;
}

.background-color-white {
  background-color: #F4F5EF;
  color: #000000;
}

.section-download .runbank-card {
  margin-top: 48px;
  margin-bottom: 40px;
  padding-right: 16px;
  padding-left: 16px;
  transform: rotate(10deg);
  animation: floating-card 4s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  .section-download .runbank-card {
    margin-top: 64px;
    margin-bottom: 64px;
    max-width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .section-download .runbank-card {
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .section-download .runbank-card {
    max-width: 90%;
  }
}
@media screen and (min-width: 1400px) {
  .section-download .runbank-card {
    max-width: 80%;
  }
}
.section-download .runbank-text {
  margin-top: 8px;
}
@media screen and (min-width: 992px) {
  .section-download .runbank-text {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .section-download .runbank-text {
    margin-top: 64px;
  }
}
.section-download .runbank-text .runbank-download {
  width: 160px;
}
@media screen and (min-width: 576px) {
  .section-download .runbank-text .runbank-download {
    width: 192px;
  }
}
@media screen and (min-width: 768px) {
  .section-download .runbank-text .runbank-download {
    width: 224px;
  }
}
@media screen and (min-width: 992px) {
  .section-download .runbank-text .runbank-download {
    width: 192px;
  }
}

/* Seccion (info) */
.section-info {
  padding-top: 48px;
  padding-bottom: 16px;
}
.section-info .runbank-app {
  display: none;
}
@media screen and (min-width: 992px) {
  .section-info .runbank-app {
    display: inline;
  }
}
.section-info .info__title {
  color: #614AD9;
}
.section-info .info__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .section-info .info__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 24px;
    padding-top: 32px;
  }
}
.section-info .info__container .info__box {
  display: flex;
  align-items: center;
  gap: 24px;
}
.section-info .info__container .info__box .info__icon {
  color: #614AD9;
  font-size: 2rem;
}
.section-info .info__container .info__box .info__description {
  margin: 0;
}

/* Seccion (card) */
.section-card {
  padding-top: 24px;
  padding-bottom: 32px;
}
@media screen and (min-width: 992px) {
  .section-card {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}
.section-card .card__title {
  color: #614AD9;
  padding-bottom: 0;
}
.section-card .card__text {
  padding-bottom: 24px;
}
.section-card .card__box {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  /* &--item {
      padding: 1rem;
  } */
}
@media screen and (min-width: 992px) {
  .section-card .card__box {
    align-items: center;
    height: 50%;
  }
}
.section-card .card__box .card__icon {
  color: #614AD9;
  font-size: 2rem;
  order: -1;
}
@media screen and (min-width: 992px) {
  .section-card .card__box .card__icon {
    font-size: 2.5rem;
    order: 0;
  }
}
.section-card .runbank-card-animation {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .section-card .runbank-card-animation {
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media screen and (min-width: 992px) {
  .section-card .runbank-card-animation {
    margin-top: 48px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 0px;
  }
  .section-card .runbank-card-animation:hover {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 1200px) {
  .section-card .runbank-card-animation {
    margin-top: 8px;
  }
}

/* Seccion (¿como comenzar?) */
.section-start {
  padding-top: 32px;
  padding-bottom: 48px;
}
.section-start .start__title {
  padding-bottom: 32px;
}
.section-start .start__boxes {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 32px;
}
@media screen and (min-width: 992px) {
  .section-start .start__boxes {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }
}
.section-start .start__boxes .start__box {
  display: flex;
}
.section-start .start__boxes .start__box--number {
  background-color: #F4F5EF;
  color: black;
  border: 1px solid black;
  border-right: 0px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 4px 16px;
  margin-bottom: auto;
  box-shadow: -6px 6px 8px rgba(244, 245, 239, 0.25);
  /* filter: drop-shadow(-6px 6px 2px rgba(244, 245, 239, 0.25)); */
  display: none;
}
@media screen and (min-width: 992px) {
  .section-start .start__boxes .start__box--number {
    display: flex;
    justify-content: center;
  }
}
.section-start .start__boxes .start__box--item {
  background-color: #C6F277;
  color: black;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: -8px 8px 8px rgba(244, 245, 239, 0.25);
  /* filter: drop-shadow(-10px 10px 2px rgba(244, 245, 239, 0.25)); */
}
@media screen and (min-width: 992px) {
  .section-start .start__boxes .start__box:hover {
    transform: scale(1.05);
  }
}

/* Earn */
.section-earn-text {
  padding-top: 32px;
  padding-bottom: 24px;
}
.section-earn-text__title {
  color: #614AD9;
  font-weight: bold;
}
.section-earn-text__text {
  font-weight: 600;
}

.section-earn-crypto {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-earn-crypto .earn-crypto__title {
  color: #614AD9;
  font-weight: 800;
  margin-bottom: 0px;
  padding-top: 24px;
  padding-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .section-earn-crypto .earn-crypto__title {
    padding-top: 16px;
    padding-bottom: 8px;
  }
}
.section-earn-crypto .earn-crypto__text {
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.section-earn-crypto .row .col-lg-5 {
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .section-earn-crypto .row .col-lg-5 .img-crypto-earn {
    animation: floating-card 4s ease-in-out infinite;
  }
}

.section-earn-box {
  padding-top: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .section-earn-box {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.section-earn-box .earn__boxes {
  display: flex;
  gap: 24px;
  padding: 1rem;
}
.section-earn-box .earn__boxes .earn__icon {
  color: #614AD9;
  font-size: 2rem;
}
@media screen and (min-width: 992px) {
  .section-earn-box .earn__boxes .earn__icon {
    font-size: 2.5rem;
  }
}
.section-earn-box .earn__boxes .earn__box--title {
  font-weight: 700;
}
.section-earn-box .earn__boxes .earn__box--text {
  font-weight: normal;
}

/* Commission */
.commission-text-free {
  color: #F4F5EF;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-commission-free {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-commission-free .commission-free__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 576px) {
  .section-commission-free .commission-free__box {
    gap: 24px;
  }
}
.section-commission-free .commission-free__box .commission-free__icon {
  color: #614AD9;
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .section-commission-free .commission-free__box .commission-free__icon {
    font-size: 2.5rem;
  }
}
.section-commission-free .commission-free__box .commission-free__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 10;
}
.section-commission-free .commission-free__box .commission-free__text--title {
  color: #614AD9;
  font-weight: 700;
  margin: 0;
}
.section-commission-free .commission-free__box .commission-free__text--text {
  font-weight: 500;
}
.section-commission-free .commission-free__box .commission-free__cost {
  color: #614AD9;
  font-weight: 700;
}

.commission-text-cost {
  color: #614AD9;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .commission-text-cost {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.section-commission-cost {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-commission-cost .commission-cost__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (min-width: 576px) {
  .section-commission-cost .commission-cost__box {
    align-items: center;
    gap: 24px;
  }
}
.section-commission-cost .commission-cost__box .commission-cost__icon {
  display: none;
}
@media screen and (min-width: 576px) {
  .section-commission-cost .commission-cost__box .commission-cost__icon {
    color: #614AD9;
    font-size: 1.5rem;
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .section-commission-cost .commission-cost__box .commission-cost__icon {
    font-size: 2.5rem;
  }
}
.section-commission-cost .commission-cost__box .commission-cost__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 8;
}
.section-commission-cost .commission-cost__box .commission-cost__text--title {
  color: #614AD9;
  font-weight: 700;
  margin: 0;
}
.section-commission-cost .commission-cost__box .commission-cost__text--text {
  font-weight: 500;
}
.section-commission-cost .commission-cost__box .commission-cost__cost {
  color: #614AD9;
  font-weight: 700;
  flex: 5;
}
@media screen and (min-width: 576px) {
  .section-commission-cost .commission-cost__box .commission-cost__cost {
    text-align: end;
    flex: 2;
  }
}

/* Help */
.section-help {
  padding-top: 48px;
  padding-bottom: 48px;
}
.section-help .help-title {
  color: #614AD9;
  font-weight: 700;
  margin-right: 24px;
  padding-bottom: 16px;
}
.section-help .help-text {
  font-weight: 500;
  margin-right: 24px;
  padding-bottom: 24px;
}
.section-help .btn-contact {
  color: #F4F5EF;
  border-color: #614AD9;
  background-color: #614AD9;
  border-radius: 0;
  font-size: 1.25rem;
  font-weight: 700;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 992px) {
  .section-help .btn-contact:hover {
    color: #614AD9;
    background-color: #F4F5EF;
    border-color: #614AD9;
  }
}

.accordion {
  /* --bs-accordion-border-color: $color-black; */
  --bs-accordion-border-radius: 0;
  --bs-accordion-btn-focus-border-color: none;
}
.accordion .accordion-item {
  background-color: #F4F5EF;
  border: none;
}
.accordion .accordion-item .accordion-header {
  background-color: #614AD9;
  color: #F4F5EF;
}
.accordion .accordion-item .accordion-header .accordion-button {
  background-color: #614AD9;
  color: #F4F5EF;
  font-weight: bold;
}
.accordion .accordion-item .accordion-header .accordion-button:focus {
  border: none;
  z-index: 0;
  border-color: #614AD9;
  box-shadow: none;
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #F4F5EF;
  background-color: #614AD9;
  box-shadow: none;
}
.accordion .accordion-item .accordion-collapse {
  background-color: #F4F5EF;
}

/* Register */
.background-register {
  height: 100%;
  background-color: #F3E4EE;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section-register {
  max-width: 784px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -16px 16px 16px rgba(30, 94, 218, 0.4);
  border-radius: 1rem;
}
.section-register .btn-form {
  color: #F4F5EF;
  border-color: #614AD9;
  background-color: #614AD9;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 700;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 992px) {
  .section-register .btn-form:hover {
    color: #614AD9;
    background-color: #F4F5EF;
    border-color: #614AD9;
  }
}

.form-control {
  min-height: 48px;
  line-height: initial;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 0;
}
.form-control:focus {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 4px #614ad9;
}

.form-check-input {
  border-color: #614AD9;
}
.form-check-input:focus {
  box-shadow: none;
  border-color: #614AD9;
}
.form-check-input:checked {
  background-color: #614AD9;
  border-color: #614AD9;
}

/*# sourceMappingURL=style.css.map */
