/* Header (navbar) */
header {
    font-size: 1.25rem;
    font-weight: bold;
    color: $color-black;

    @include large {
        .navbar-nav {
            gap: 1.5rem;
        }
    }
}

.runbank-seo {
    display: none;
}

.btn-account {
    color: $color-white;
    border-color: $color-purple;
    background-color: $color-purple;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    padding-right: 16px;
    padding-left: 16px;

    @include large {
        margin-left: 32px;

        &:hover {
            color: $color-purple;
            background-color: $color-white;
            border-color: $color-purple;
        }
    }
}

.nav-link {
    color: $color-black;

    @include large {
        &:hover {
            color: $color-purple;
        }
    }
}

.collapse .navbar-collapse {
    justify-content: end;
}

/* QUITAR BORDE DEL ICONO DE NAV */
.navbar-toggler {
    border: 0px;

    &:focus {
        box-shadow: none;
    }
}